

.new_property{
    display: flex;
    justify-content: center;
}

.dashboard_add_new{
    background-color: #8CE693;
    height: 20px;
    width: 140px;
}


.dashboard_filter{
    border-bottom: solid 1px black;
}

.dashboard_properties{
    border: solid 1px black;
    background-color: #DEDEDE;
    margin: 15px;
}