 *{
  box-sizing: border-box;
 }
 
 .background{
   background-color: #B0D4C0;
   /* height: 100%; */
   
 }
 
 .center{
   width: 695px;
   margin: auto;
   height: 100vh;
   /* border: solid black 1px; */
   background-color: #E2F2EB;
 }

 .inner_center{
   width: 600px;
   height: 100%;
   margin: auto;
   background-color: #E2F2EB;
 }


.cancel{
  background-color: #FDC2C3;
  height: 29px;
  width: 59px;
  border-radius: 3px;
}

.top{
  /* border: solid black 1px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.step{
  /* border: solid black 1px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.progress{
  /* border: solid black 1px; */
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

input{
  border: #559673 1px solid;
}

.bottom_buttons{
  /* border: solid 1px black; */
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.next_step{
 background-color: #3C5249;
 color: white;
 height: 40px;
 width: 150px;
 border-radius: 7px;
}

.previous_step{
 background-color: #3C5249;
 color: white;
 height: 40px;
 width: 170px;
 border-radius: 7px;
}


.input_font{
  font-size: 18px;
}












