* {
  box-sizing: border-box;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

button {
  cursor: pointer;
}

.background {
  background-color: #b0d4c0;
}

.center {
  width: 84%;
  margin: auto;
  min-height: 100vh;
  background-color: #e2f2eb;
  box-shadow: 5px 5px 8px -3.5px #888888;
}

.auth_center {
  width: 695px;
  margin: auto;
  height: 100vh;
  background-color: white;
}

.inner_center {
  width: 600px;
  height: 100%;
  margin: auto;
  background-color: #e2f2eb;
}

.cancel {
  background-color: #fdc2c3;
  height: 29px;
  width: 59px;
  border-radius: 3px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.step {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.progress {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.progress img {
  border: #559673 1px solid;
}

input {
  border: #559673 1px solid;
}

.bottom_buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.next_step {
  background-color: #3c5249;
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 7px;
}

.previous_step {
  background-color: #3c5249;
  color: white;
  height: 40px;
  width: 170px;
  border-radius: 7px;
}

.input_font {
  font-size: 18px;
}

.current {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #539773;
  position: relative;
}

.inner_current {
  height: 30px;
  width: 25px;
  border-radius: 50%;
  background-color: #bbd8c8;
  position: absolute;
}

.pending {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #bbd8c8;
}

.completed {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #539773;
}
