 *{
  box-sizing: border-box;
 }
 
 .background{
   background-color: #B0D4C0;
   
 }
 
 .center{
   width: 650px;
   margin: auto;
   height: 100vh;
   border: solid black 1px;
   background-color: #E2F2EB;
 }


.cancel{
  background-color: #FDC2C3;
  height: 25px;
  width: 50px;
}

.top{
  border: solid black 1px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.step{
  border: solid black 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress{
  border: solid black 1px;
  display: flex;
  justify-content: space-between;
}

.inputs{
  border: solid 1px black;
}

.bottom_buttons{
  border: solid 1px black;
}

.next_step{
 background-color: #3C5249;
 color: white;
 height: 20px;
 width: 150px;
}

.previous_step{
 background-color: #3C5249;
 color: white;
}













